:root {
    --fundo: #f8f8fa;
    --bola: #b10000;
    --fonte: 'Poppins', sans-serif;
    --cordata: #535355;
    --botao: #640d14;
}

.container {
    display: flex;
    min-height: 100vh;
}

.chamadas {
    background-color: var(--fundo);
    flex: 1;
    padding: 20px;
}

.titulo h1 {
    font-family: var(--fonte);
    color: var(--cordata);
    font-size: 30px;
    padding: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}