:root {
    --fundo: #f8f8fa;
    --branco: #ffffff;
    --preto: #000000;
    --bola: #b10000;
    --fonte: 'Poppins', sans-serif;
    --cordata: #535355;
    --vermelhoEscuro: #640d14;
}

.calendario {
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: var(--preto);
    padding: 10px 15px;
    max-width: 400px;
    width: 100%;
    font-family: var(--fonte);
}

.calendarioitens {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.monthYear {
    color: var(--vermelhoEscuro);
    font-weight: bold;
    font-size: 1.2rem;
}

.btn {
    cursor: pointer;
    color: var(--vermelhoEscuro);
    font-weight: bold;
    font-size: 1.2rem;
    user-select: none;
}

.semanaDias {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 8px;
}

.semanaDias p {
    flex: 1;
    text-align: center;
    font-weight: 600;
    color: var(--cordata);
    margin: 0;
    user-select: none;
    font-size: 0.9rem;
}

.days {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.days div {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: calc(100% / 7 - 6px);
    margin: 3px;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    user-select: none;
}

.days div:hover {
    background-color: var(--vermelhoEscuro);
    color: var(--branco);
}

.days .today {
    background-color: var(--bola);
    color: var(--branco);
    font-weight: bold;
}

.days .fade {
    color: var(--cordata);
    opacity: 0.5;
}

.days .active {
    border: 2px solid var(--vermelhoEscuro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.marked {
    border: 1px solid var(--vermelhoEscuro);
    background-color: rgba(177, 0, 0, 0.7);
    color: var(--branco);
    font-weight: bold;
}

@media (max-width: 768px) {
    .calendario {
        max-width: 100%;
        padding: 8px 10px;
    }

    .monthYear {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
    }

    .semanaDias p {
        font-size: 0.8rem;
    }

    .days div {
        font-size: 11px;
        padding: 8px 0;
    }
}
