:root {
  --fundo: #f8f8fa;
  --branco: #ffffff;
  --preto: #000000;
  --bola: #b10000;
  --fonte: 'Poppins', sans-serif;
  --cordata: #535355;
  --vermelhoEscuro: #640d14;
}
 
.page {
  display: flex;
  height: 100vh;
  font-family: var(--fonte);
}
 
.dashboardContainer {
  flex: 1;
  padding: 2rem;
  background-color: #f8f8fa;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}
 
.mainContentShift {
  margin-left: 250px;
}
 
.welcome {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #333;
}
 
.cardsContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}
 
.cardStatusChamados {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  height: auto;
}
 
.card h3 {
  font-size: 22px;
}
 
.cardNotificacoes {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  text-align: center;
  height: auto;
}
 
.cardStatusChamados,
.cardNotificacoes {
  flex-grow: 1;
  flex-basis: 400px;
  min-height: 190px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 1rem;
}
 
.cardNotificacoes h3 {
  font-size: 22px;
}
 
.textoNotificacoes {
  font-size: 20px;
  margin-top: -14px;
}
 
.cardLarge {
  height: auto;
  margin-top: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2rem;
}

.cardsTopContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

.notificationsCard {
  height: auto;
  margin-top: 1.5rem; 
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2rem;
}

.notificationsCard h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 1rem; 
}
 
.cardSmallBottom {
  margin-top: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2rem;
}
.cardSmallBottom h3{
  font-size: 22px;
  font-weight: 500;
}
 
.numeroChamados {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}
 
.numeroChamados span {
  font-size: 0.9rem;
  color: var(--cordata);
}
 
.barraProgresso {
  width: 100%;
  height: 8px;
  background: #e0e0e0;
  border-radius: 6px;
  margin: 8px 0 12px;
}
 
.progresso {
  width: 70%;
  height: 100%;
  background: var(--bola);
  border-radius: 6px;
}

.barraProgresso > div { height: 100%; }

.progressoEmAndamento { background-color: var(--vermelhoEscuro); }
.progressoConcluido { background-color: #b3b3b3; }
.progressoPendente {background-color: #d52531;}
 
.legenda {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  color: var(--cordata);
}
 
.bolinhaFinalizado {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #b3b3b3;
  border-radius: 50%;
  margin-right: 4px;
}
 
.bolinhaAndamento {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: var(--vermelhoEscuro);
  border-radius: 50%;
  margin-right: 4px;
}
 
.numeroNotificacoes {
  font-size: 4rem;
  font-weight: bold;
  color: var(--bola);
  margin: 0.5rem 0;
}
 
.chamadoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eee;
  padding: 0.7rem;
  border-radius: 8px;
  margin-top: 0.6rem;
}
 
.chamadoItem h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
 
.chamadoItem p {
  font-size: 0.85rem;
  color: var(--cordata);
  margin: 0;
}
 
.btnVerMais {
  background: transparent;
  border: 1px solid var(--vermelhoEscuro);
  color: var(--vermelhoEscuro);
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  transition: color 0.3s ease;
}
 
.btnVerMais:hover {
  background-color: var(--vermelhoEscuro);
  color: var(--branco);
}
 
.btnAceitar {
  background: var(--bola);
  border: none;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  width: 75px;
  cursor: pointer;
  transition: background 0.3s ease;
}
 
.btnAceitar:hover {
  background-color: var(--vermelhoEscuro);
}
 
.cardSmallBottom h3 {
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}
.cards{
  width: auto;
}

 
@media (max-width: 768px) {

  .dashboardContainer  {
  margin-top: 60px;
}
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:max-content;
    gap: 1.5rem;
  }
 
  .chamadoItem {
    flex-direction: column;
    align-items: flex-start;
  }
 
  .chamadoItem div:last-child {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
  }
 
  .cardsContainer {
    gap: 1rem;
  }

  .cardsTopContainer {
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.notificationsCard {
    margin-top: 1.5rem;
}
}
@media (max-width: 425px){
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:max-content;
    gap: 1.5rem;
    margin-top: 60px;
  }
 
  .chamadoItem {
    flex-direction: column;
    align-items: flex-start;
  }
 
  .chamadoItem div:last-child {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.6rem;
  }
 
  .cardsContainer {
    gap: 1rem;
  }
}
