:root {
    --fundo: #f8f8fa;
    --branco: #ffffff;
    --preto: #000000;
    --bola: #b10000;
    --fonte: 'Poppins', sans-serif;
    --cordata: #535355;
    --vermelhoEscuro: #640d14;
}
 
.calendario {
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: var(--preto);
    height: auto;
    padding: 5px 10px;
}
 
.calendarioitens{
    height: 100%;
    width: 60vh;
}
 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10;
}
 
.monthYear {
    color: var(--vermelhoEscuro);
    font-weight: bold;
}
 
.btn {
    cursor: pointer;
    color: var(--vermelhoEscuro);
    font-weight: bold;
}
 
.semanaDias{
    gap: 50;
 
}
.semanaDias,
.days {
    display: flex;
    flex-wrap: wrap;
    border-bottom: #640d14;
}
 
.semanaDias,
.days p{
    justify-content: center;
    margin-top: 20px;
}
 
.days div {
    cursor: pointer;
    transition: background-color 0.3s;
    width: 8.2vh;
    font-size: 13px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
 
}
.days div:hover {
    background-color: var(--vermelhoEscuro);
    color: var(--branco);
}
 
.days .today {
    background-color: var(--bola);
    color: var(--branco);
}
 
.days .fade {
    color: var(--cordata);
}
 
.days .active {
    border: 2px solid var(--vermelhoEscuro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.marked {
  border: 1px solid var(--vermelhoEscuro);
  color: var(--branco);
  font-weight: bold;
  background-color:  rgba(177, 0, 0, 0.685); 
}

 
@media (max-width: 1024px) {
 
.header {
    padding-top: 2;
}
 
.monthYear {
    color: var(--vermelhoEscuro);
    font-weight: bold;
}
 
.btn {
    cursor: pointer;
    color: var(--vermelhoEscuro);
    font-weight: bold;
}
 
.semanaDias{
    gap: 50;
 
}
.semanaDias,
.days {
    display: flex;
    flex-wrap: wrap;
    border-bottom: #640d14;
}
 
.semanaDias,
.days p{
    justify-content: center;
    margin-top: 20px;
}
}