:root {
    --fundo: #f8f8fa;
    --bola: #b10000;
    --fonte: 'Poppins', sans-serif;
    --cordata: #535355;
    --botao: #640d14;
 
}
 
.container {
    min-height: 100vh;
    overflow-x: hidden;
    padding: 20px;
}
 

 
.titulo h1 {
    font-family: var(--fonte);
    color: var(--cordata);
    font-size: 30px;
    margin: 0;
}
 
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    margin-top: 30px;
}


.card {
    flex: 1 1 23%; 
    max-width: 23%; 
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 2%;
    font-family: var(--fonte);
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .card {
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .cardsContainer {
        justify-content: center;
    }

    .card {
        flex: 1 1 90%;
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

