/* ocupa a tela toda e centraliza */
.page-wrapper {
  
  justify-content: center;
  align-items: center;
}

/* caixa central */
.join-container {
  background-color: #FFF;
  color: #000;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 5px 5px 17px 1px rgba(0, 0, 0, 0.3);
}

.join-container h2 {
  margin-bottom: 20px;
}
