:root {
    --fundo: #f8f8fa;
    --branco: #ffffff;
    --preto: #000000;
    --bola: #b10000;
    --fonte: 'Poppins', sans-serif;
    --cordata: #535355;
    --vermelhoEscuro: #640d14;
}

.h4{
    margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.p {
  font-size: 0.85rem;
  color: var(--cordata);
  margin: 0;
}

.btnVerMais {
  background: transparent;
  border: 1px solid var(--vermelhoEscuro);
  color: var(--vermelhoEscuro);
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  transition: color 0.3s ease;
}

.btnVerMais:hover{
  background-color: var(--vermelhoEscuro);
  color: var(--branco);
}

.btnAceitar {
  background: var(--bola);
  border: none;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  width: 75px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btnAceitar:hover{
  background-color: var(--vermelhoEscuro);
}

@media (max-width: 480px) {
    .btnAceitar {
    width: 100%;
  }

  .btnVerMais {
    flex: 1;
  }
}