:root {
    --fundo: #f8f8fa;
    --bola: #b10000;
    --fonte: 'Poppins', sans-serif;
    --cordata: #535355;
    --botao: #640d14;
}

.documentos{
    background-color: var(--fundo);
    width: 300px;
    border-radius: 20px;
    display: flex;
    padding: 15px;
    align-items: center;
    font-family: var(--fonte);
}

.icon{
    font-size: 30px;
    margin-right: 10px;
}

.icon:hover{
    color: #640d14;
}

.titulo p{
    font-family: var(--fonte);
    margin: 0;
    font-weight: bold;
    margin-right: 100px;
}

.link p{
    margin: 0;
    font-family: var(--fonte);
    font-size: 13px;
    cursor: pointer;
}

.link p:hover {
    text-decoration: underline;
}

.download {
    margin-left: auto;
}

.baixar {
    font-size: 25px;
    color: #000000;
    background-color: var(--fundo);
    border: none;
    cursor: pointer;
}

.baixar:hover {
    text-decoration: underline;
    color: var(--botao);
}

@media (max-width: 768px) {
    .documentos {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .icon {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .titulo p {
        margin-bottom: 5px;
    }

    .download {
        margin-left: 0;
        margin-top: 10px;
        align-self: flex-end;
    }

    .baixar {
        font-size: 22px;
    }
}