:root {
  --fundo: #f8f8fa;
  --branco: #ffffff;
  --preto: #000000;
  --bola: #b10000;
  --fonte: 'Poppins', sans-serif;
  --cordata: #535355;
  --vermelhoEscuro: #640d14;
}
 
.page {
  display: flex;
  width: 100%;
  font-family: var(--fonte);
}
 
 
.dashboardContainer {
  flex: 1;
  padding: 2rem;
  background-color: #f8f8fa;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}
 
 
.welcome {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #333;
}
 
 
.cardsContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}
 
.cardStatusChamados,
.cardNotificacoes,
.cardLarge,
.cardSmallBottom {
  background-color: var(--branco);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 1rem;
}
 
 
.cardStatusChamados h3 {
  font-size: 23px;
}
 
.cardNotificacoes {
  text-align: center;
}
 
.cardNotificacoes h3 {
  font-size: 22px;
}
 
.textoNotificacoes {
  font-size: 20px;
}
 
.cardLarge {
  margin-top: 30px;
}
 
.cardLarge h3 {
  font-size: 22px;
}
 
.cardSmallBottom {
  margin-top: 30px;
}
 
.numeroChamados {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}
 
.barraProgresso {
  display: flex;
  width: 100%;
  height: 12px;
  border-radius: 6px;
  overflow: hidden;
  background: #e0e0e0;
}
 
.progresso {
  width: 70%;
  height: 100%;
  border-radius: 6px;
}
 
.barraProgresso>div {
  height: 100%;
}
 
.progressoEmAndamento {
  background-color: var(--vermelhoEscuro);
}
 
.progressoFinalizado {
  background-color: #b3b3b3;
}
 
.legenda {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  color: var(--cordata);
  margin-top: 1rem;
}
 
.bolinhaFinalizado {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #b3b3b3;
  border-radius: 50%;
  margin-right: 4px;
}
 
.bolinhaAndamento {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: var(--vermelhoEscuro);
  border-radius: 50%;
  margin-right: 4px;
}
 
.numeroNotificacoes {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--bola);
  margin: 0.5rem 0;
}
 
.chamadoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  border-radius: 8px;
  margin-top: 0.6rem;
  border: 1px solid black;
}
 
.chamadoItem h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
 
.chamadoItem p {
  font-size: 0.85rem;
  color: var(--cordata);
  margin: 0;
}
 
.btnVerMais {
  background: transparent;
  border: 1px solid var(--vermelhoEscuro);
  color: var(--vermelhoEscuro);
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
 
.btnVerMais:hover {
  background-color: var(--vermelhoEscuro);
  color: var(--branco);
}
 
.btnAceitar {
  background: var(--bola);
  border: none;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  width: 75px;
  cursor: pointer;
  transition: all 0.3s ease;
}
 
.btnAceitar:hover {
  background-color: var(--vermelhoEscuro);
}
 
 
@media (max-width: 1024px) {
  .cardsContainer {
    grid-template-columns: 1fr;
    margin-left: 0;
    gap: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
 
  .cardNotificacoes {
    margin-top: 1.5rem;
    width: 100%;
  }
 
  .cardStatusChamados,
  .cardLarge,
  .cardSmallBottom {
    width: 100%;
  }
 
  .cardLarge {
    margin-top: 1.5rem;
  }
}
 
 
@media (max-width: 768px) {
  .welcome {
    margin-left: 0;
  }
 
  .cardsContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-left: 0;
    padding: 0 1rem;
  }
 
  .chamadoItem {
    flex-direction: column;
    align-items: flex-start;
  }
 
  .chamadoItem div:last-child {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
 
 
  .cardStatusChamados,
  .cardLarge,
  .cardSmallBottom {
    height: 230px;
  }
}
 
 
@media (max-width: 480px) {
  .dashboardContainer {
    padding: 75px 1rem 1rem;
  }
 
  .welcome {
    font-size: 1.2rem;
    margin-top: 0;
  }
 
  .cardNotificacoes {
    margin-top: 1.5rem;
  }
 
  .numeroNotificacoes {
    font-size: 3rem;
  }
 
  .cardLarge {
    height: auto;
    margin-top: 1rem;
  }
 
  .cardSmallBottom {
    margin-top: 1rem;
  }
 
  .legenda {
    flex-direction: column;
    gap: 0.3rem;
  }
 
  .chamadoItem {
    flex-direction: column;
    align-items: stretch;
  }
 
  .chamadoItem div:last-child {
    flex-direction: column;
    gap: 0.3rem;
  }
}